.button {
	display: inline-block;
	padding: 0.5rem 1rem;
	letter-spacing: 1px;
	border-radius: 4px;
	font-family: inherit;
	text-decoration: none;
}
.button span {
	vertical-align: top;
	margin-right: 10px;
}
.button:hover,
.button:focus,
.button:active,
.button:visited {
	text-decoration: none;
	font-family: inherit;
}
.button:focus {
	outline: 3px dashed black;
}
.button-primary {
	background: var(--color-main-medium);
	border: 2px solid var(--color-main-medium);
	color: var(--color-white);
}
.button-primary:hover {
	background: var(--color-main-dark);
	border: 2px solid var(--color-main-dark);
	color: var(--color-white);
}

.button-primary__outline {
	background: transparent;
	border: 2px solid var(--color-main-medium);
	color: var(--color-dark);
}
.button-primary__outline:hover {
	background: var(--color-main-dark);
	border: 2px solid var(--color-main-dark);
	color: var(--color-white);
}

.button-secondary {
	background: var(--color-white);
	border: 2px solid var(--color-white);
	color: var(--color-main-medium);
}
.button-secondary:hover {
	background: var(--color-light);
	border: 2px solid var(--color-light);
	color: var(--color-main-medium-dark);
}

.button-secondary__outline {
	background: transparent;
	border: 2px solid var(--color-white);
	color: var(--color-white);
}
.button-secondary__outline:hover {
	background: var(--color-white);
	border: 2px solid var(--color-white);
	color: var(--color-main-medium-dark);
}
