:root {
	/* Main color */
	--color-main-100: ;
	--color-main-100: ;
	--color-main-100: ;
	--color-main-100: ;
	--color-main-100: ;

	/* Text color */

	--color-white: #ffffff;
	--color-black: #000000;

	--color-dark: #212529;
	--color-regular: #464c52;
	--color-light: #fafafc;

	/* Work => NOW */
	--color-now-green: #49b92d;
	--color-now-purple: #ba3fbc;

	/* Work => Benie */
	--color-benie-blue: #00a9e0;
	--color-benie-blue-dark: #007ac9;
	--color-benie-yellow: #f2af00;

	/* Dialog */
	--color-dialog: #0eb27b;
	--color-dialog: #086b4a;
}

.text-light {
	color: var(--color-light);
}
.bg-light {
	background-color: var(--color-light);
}

/* BENIE COLORS */

.color-benie-blue {
	color: var(--color-benie-blue);
}
.color-benie-blue-dark {
	color: var(--color-benie-blue-dark);
}
.color-benie-yellow {
	color: var(--color-benie-yellow);
}
.bg-benie {
	background-color: var(--color-benie);
}
.bg-benie-gradient {
	background-image: linear-gradient(90deg, var(--color-benie-blue-dark), var(--color-benie-blue));
}

/* DIALOG COLORS */

.color-dialog {
	color: var(--color-dialog);
}
.color-now-green {
	color: var(--color-now-green);
}
.color-now-orange {
	color: var(--color-now-orange);
}

.image__background--now {
	background-color: var(--color-light) !important;
}
.image__background--benie {
	background-image: linear-gradient(var(--benie-color-primary), var(--benie-color-primary-dark)) !important;
}
.image__background--dialog {
	background-image: linear-gradient(var(--dialog-color-primary), var(--dialog-color-primary-dark)) !important;
}
