:root {
	/* Main color */
	--color-main-100: ;
	--color-main-100: ;
	--color-main-100: ;
	--color-main-100: ;
	--color-main-100: ;

	/* Text color */

	--color-white: #ffffff;
	--color-black: #000000;

	--color-dark: #212529;
	--color-regular: #464c52;
	--color-light: #fafafc;

	/* Work => NOW */
	--color-now-green: #49b92d;
	--color-now-orange: #ff5c00;

	/* Work => Benie */
	--color-benie: #007ac9;

	/* Dialog */
	--color-dialog: #0eb27b;
}

.text-light {
	color: var(--color-light);
}
.bg-light {
	background-color: var(--color-light);
}

.color-now-green {
	color: var(--color-now-green);
}
.color-now-orange {
	color: var(--color-now-orange);
}
.color-benie {
	color: var(--color-benie);
}
.color-dialog {
	color: var(--color-dialog);
}

.image__background--now {
	background-color: var(--color-light) !important;
}
.image__background--benie {
	background-image: linear-gradient(var(--benie-color-primary), var(--benie-color-primary-dark)) !important;
}
.image__background--dialog {
	background-image: linear-gradient(var(--dialog-color-primary), var(--dialog-color-primary-dark)) !important;
}
