/* Josefin */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Google Material Symbols */
.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
	vertical-align: middle;
}

/* headers */

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4rem;
	margin-bottom: 40px;
	line-height: 1;
}
h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3.5rem;
	margin-bottom: 40px;
	line-height: 1;
}
h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3rem;
	margin-bottom: 40px;
	line-height: 1;
}
h4 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2.5rem;
	margin-bottom: 40px;
	line-height: 1;
}
h5 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2rem;
	margin-bottom: 40px;
	line-height: 1;
}
h6 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 40px;
	line-height: 1;
}

/* Paragraph */
p {
	font-family: 'Lato Regular', sans-serif;
	font-size: 1rem;
}

/* Link */
a {
	font-family: 'Lato Regular', sans-serif;
	font-size: 1rem;
	color: var(--color-link);
}
