footer {
	position: relative;
	background: var(--color-dark);
	background: var(--color-main-gradient);
}
.footer__copyright {
	color: var(--color-white);
	font-family: 'Lato Regular', sans-serif;
	font-size: 0.75rem;
}
