section {
	overflow-x: hidden;
}
.section__hero {
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	background: url('../images/home/endless-constellation.svg'), linear-gradient(90deg, #c82f25, #ff5c00);
	background-position: left top;
	background-size: auto;
	background-attachment: fixed;
	/* clip-path: polygon(0 0, 100% 0%, 100% 80px, 60% 80%, 0% 100%, round 20px); */
}
/* .layer-parallax {
	background-image: url(../images/home/hero-bg.jpg);
	background-position: top center;
	background-size: auto 100%;
	background-repeat: repeat-x;
	width: 100%;
	position: fixed;
	height: 100vh;
} */

.hero__divider {
	fill: #ffffff;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 80px;
	height: calc(100% - 80px);
	width: 100%;
}
.hero__title {
	margin-left: 15vw;
	margin-bottom: calc(30vh - 80px);
	max-width: 45vw;
}
.section__hero .hero__title {
	color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
}
.section__hero .hero__title .welcome {
	font-size: 30px;
	font-weight: 600;
}
.section__hero .hero__title .name {
	font-size: 60px;
	font-weight: 700;
}
.section__hero .hero__title .role {
	font-size: 32px;
	font-weight: 600;
}

/* ----------------
    Portfolio
------------------- */
.section__portfolio {
	position: relative;
}
.portfolio__mensage {
	padding: 100px 0;
}
.portfolio__mensage h4 {
	line-height: 125%;
}
.portfolio__mensage h4 span {
	color: #e04314;
}

.portfolio__work {
	position: relative;
	margin: 100px 0;
	padding-bottom: 100px;
}

.portfolio__card {
	padding: 40px 20px;
	position: relative;
	border-radius: 10px;
}
.portfolio__card[benie] {
	background-image: var(--color-benie-gradient);
}
.portfolio__card[dialog] {
	background-image: var(--color-dialog-gradient);
}
.portfolio__card[now] {
	background-image: var(--color-now-gradient);
}
.portfolio__title {
	font-size: 80px;
	line-height: 1;
	margin-bottom: 20px;
	color: #ffffff;
}
.portfolio__subtitle {
	margin-bottom: 40px;
	color: #ffffff;
}
.portfolio__image {
	position: relative;
	transform: translateY(-10%) scale(1.25);
	height: auto;
	width: 100%;
	transform-origin: bottom center;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.portfolio__image {
		position: relative;
		transform: translateY(0%) scale(1.5);
		height: auto;
		width: 100%;
		transform-origin: center;
	}
}
@media (min-width: 992px) {
	.portfolio__card {
		padding: 60px;
	}
	.portfolio__image {
		position: absolute;
		transform: translateY(-50%) scale(1.5);
		height: 100%;
		width: auto;
		transform-origin: center;
		top: 50%;
		right: 40px;
	}
}
@media (min-width: 1200px) {
	.portfolio__image {
		transform-origin: right;
	}
}
/* .portfolio__work .content {
	z-index: 1;
	position: inherit;
	padding: 0 60px;
	color: #ffffff;
}
.portfolio__work::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 60px;
	bottom: 60px;
	border-radius: 20px;
	z-index: 0;
} */
.portfolio__work[benie]::before {
	background-image: var(--color-benie-gradient);
}
.portfolio__work[dialog]::before {
	background-image: var(--color-dialog-green-gradient);
}
.portfolio__work[now]::before {
	background-color: var(--color-now-purple);
}

.portfolio__role {
	color: var(--color-medium);
}

.shapedividers {
	overflow: hidden;
	position: relative;
}
.shapedividers::before {
	content: '';
	font-family: 'shape divider from ShapeDividers.com';
	position: absolute;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw;
	background-size: 100% 233px;
	background-position: 50% 100%;
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 77.25" preserveAspectRatio="none"><g fill="%23ffffff"><path d="M0 68.78l381-33.86v42.33H0z"/><path d="M0 43.38l381-25.4v59.27H0z" opacity=".33"/><path d="M0 17.98L381 0v77.25H0z" opacity=".33"/></g></svg>');
}

@media (min-width: 2100px) {
	.shapedividers::before {
		background-size: 100% calc(2vw + 233px);
	}
}
