section {
	overflow-x: hidden;
}

/* ---------------- Hero ------------------- */

.section-hero {
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	background: url('../images/home/endless-constellation.svg'), linear-gradient(90deg, #c82f25, #ff5c00);
	background-position: left top;
	background-size: auto;
	background-attachment: fixed;
	/* clip-path: polygon(0 0, 100% 0%, 100% 80px, 60% 80%, 0% 100%, round 20px); */
}
/* .layer-parallax {
	background-image: url(../images/home/hero-bg.jpg);
	background-position: top center;
	background-size: auto 100%;
	background-repeat: repeat-x;
	width: 100%;
	position: fixed;
	height: 100vh;
} */

.hero__divider {
	fill: #ffffff;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 80px;
	height: calc(100% - 80px);
	width: 100%;
}

.section-hero .hero__title {
	margin-left: 10vw;
	margin-bottom: calc(30vh - 80px);
	max-width: 80vw;
	color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
}
.section-hero .hero__title h2 {
	margin: 0;
}
.section-hero .hero__title .welcome {
	display: inline-block;
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 30px;
}
.section-hero .hero__title .name {
	display: inline-block;
	font-size: 4rem;
	font-weight: 400;
	line-height: 1;
}
.section-hero .hero__title .role {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 125%;
	margin-top: 30px;
}

@media (min-width: 768px) {
	.section-hero .hero__title {
		margin-left: 10vw;
		max-width: 80vw;
	}
	.section-hero .hero__title .welcome {
		font-size: 2.75rem;
	}
	.section-hero .hero__title .name {
		font-size: 6rem;
	}
	.section-hero .hero__title .role {
		font-size: 2rem;
	}
}
@media (min-width: 992px) {
	.section-hero .hero__title {
		margin-left: 10vw;
		max-width: 50vw;
	}
	.section-hero .hero__title .welcome {
		font-size: 3rem;
	}
	.section-hero .hero__title .name {
		font-size: 5rem;
	}
	.section-hero .hero__title .role {
		font-size: 1.75rem;
	}
}
@media (min-width: 1200px) {
	.section-hero .hero__title {
		margin-left: 10vw;
		max-width: 40vw;
	}
	.section-hero .hero__title .welcome {
		font-size: 2.5rem;
	}
	.section-hero .hero__title .name {
		font-size: 5rem;
	}
	.section-hero .hero__title .role {
		font-size: 1.75rem;
	}
}
@media (min-width: 1400px) {
	.section-hero .hero__title {
		margin-left: 15vw;
		max-width: 40vw;
	}
	.section-hero .hero__title .welcome {
		font-size: 3rem;
	}
	.section-hero .hero__title .name {
		font-size: 6rem;
	}
	.section-hero .hero__title .role {
		font-size: 2rem;
	}
}

/* ---------------- Portfolio ------------------- */

.section-portfolio {
	position: relative;
}
.portfolio__mensage {
	padding-bottom: 100px;
}
.portfolio__mensage h4 {
	line-height: 125%;
	font-size: calc(2rem - var(--font-mobile));
}
.portfolio__mensage h4 {
	line-height: 125%;
	font-size: calc(2rem - var(--font-mobile));
}
.portfolio__mensage h4 span {
	color: #e04314;
}

.portfolio__work {
	position: relative;
	margin: 100px 0;
	padding-bottom: 100px;
}

.portfolio__card {
	padding: 0px;
	position: relative;
	border-radius: 4px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	margin-bottom: 60px;
	overflow: hidden;
}
.portfolio__card:last-child {
	margin-bottom: 0;
}
.portfolio__card .portfolio__bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	transition: 0.5s ease-out;
	/* filter: saturate(0.5); */
}
.portfolio__card:hover .portfolio__bg {
	transform: scale(1.1);
	/* filter: saturate(1); */
}

.portfolio__card[benie] .portfolio__bg {
	background-image: url(../images/home/work_benie_background.jpg);
	background-position: 80% 100%;
}
.portfolio__card[dialog] .portfolio__bg {
	background-image: url(../images/home/work_dialog_background.jpg);
	background-position: 85% 100%;
}
.portfolio__card[now] .portfolio__bg {
	background-image: url(../images/home/work_now_background.jpg);
	background-position: 85% 100%;
}
.portfolio__content {
	padding: 40px 20px 20px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	border-radius: 0 0 4px 4px;
}
.portfolio__card[benie] .portfolio__content {
	background-color: rgba(0, 122, 201, 0.75);
}
.portfolio__card[dialog] .portfolio__content {
	background-color: rgba(14, 178, 123, 0.85);
}
.portfolio__card[now] .portfolio__content {
	background-color: rgba(186, 63, 188, 0.9);
}

.portfolio__title {
	font-size: 3rem;
	margin-bottom: 20px;
	color: #ffffff;
	line-height: 90%;
}
.portfolio__subtitle {
	margin-bottom: 40px;
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 300;
}

@media (min-width: 768px) {
	.portfolio__mensage h4 {
		font-size: 2.25rem;
	}
	.portfolio__card {
		min-height: 400px;
		flex-direction: row;
		justify-content: start;
		align-content: center;
	}
	.portfolio__card .portfolio__bg {
		background-size: cover;
	}
	.portfolio__card[benie] .portfolio__bg {
		background-position: 0 20%;
	}
	.portfolio__card[now] {
		background-position: 25% 100%;
	}
	.portfolio__content {
		padding: 60px 50px 60px 40px;
		clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
		border-radius: 4px 0 0 4px;
		background-color: rgba(0, 122, 201, 0.75);
		max-width: 50%;
	}
	.portfolio__title {
		font-size: 4rem;
	}
	.portfolio__subtitle {
		margin-bottom: 60px;
	}
}
@media (min-width: 992px) {
	.portfolio__card {
		background-position: 100% 20%;
	}
	.portfolio__card[benie] .portfolio__bg {
		background-position: 100% 20%;
	}
	.portfolio__card[dialog] .portfolio__bg {
		background-position: 100% 60%;
	}
	.portfolio__card[now] .portfolio__bg {
		background-position: 100% 50%;
	}
	.portfolio__content {
		max-width: 40%;
	}
}
@media (min-width: 1200px) {
	.portfolio__card[dialog] .portfolio__bg {
		background-position: 100% 40%;
	}
	.portfolio__card[now] .portfolio__bg {
		background-position: 100% 30%;
	}
	.portfolio__content {
		max-width: 35%;
	}
}

/* ---------------- About ------------------- */

.section-about {
	position: relative;
	background-attachment: fixed;
	background-image: url('../images/home/endless-constellation.svg'), linear-gradient(90deg, var(--color-medium-light) 0%, var(--color-light) 0%);
	/* background-image: url('../images/home/endless-constellation.svg'), var(--color-main-gradient); */
}
.section-about__content {
	padding: 50px 0;
	/* color: #ffffff; */
}

.shape-divider-about-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}
.shape-divider-about-top svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 50px;
}
.shape-divider-about-top .shape-fill {
	fill: #ffffff;
}
.shape-divider-about-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}
.shape-divider-about-bottom svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 50px;
}
.shape-divider-about-bottom .shape-fill {
	fill: var(--section-contact-bg);
}

.section-about img {
	border-radius: 4px;
}

/* ---------------- Contact.css ------------------- */

.section-contact .button {
	min-width: 250px;
}
