html {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

body {
	font-family: 'Lato Regular', sans-serif;
	color: var(--color-dark);
	position: relative;
}

.container {
	display: inherit;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.section {
	padding: 80px 0;
	overflow-x: hidden;
}

.list-group {
	margin: 40px 0;
}
.list-item {
	display: flex;
	margin-bottom: 20px;
}
.list-item p {
	margin-bottom: 0;
	line-height: 1.5;
}
.list-item:last-child {
	margin-bottom: 0;
}
.list-item .material-symbols-outlined {
	margin-right: 20px;
}
div p:last-child {
	margin-bottom: 0;
}

/* MOW PROTOTYPE */
#prototype .modal-content {
	background-color: var(--color-dark);
}
#prototype .modal-header {
	color: var(--color-light);
	border-color: var(--color-main-medium);
}
#prototype .modal-header button {
	color: var(--color-light);
	border: none;
	background-color: transparent;
}

#prototype .modal-body {
	overflow-y: hidden;
}
#prototype .modal-body iframe {
	width: 100%;
	height: 100%;
}
