#title {
	height: 600px;
	padding-top: 160px;
}
.title--bg-now {
	background: var(--color-light) url(../../images/work/now/now-head.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.title--bg-benie {
	background: var(--color-benie-blue) url(../../images/work/benie/benie-head.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.title--bg-dialog {
	background: var(--color-dialog-green) url(../../images/work/dialog/dialog-head.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.title__brand {
	border-radius: 8px;
	margin-bottom: 60px;
}
.title__name {
	margin-bottom: 20px;
}
